
<%- include('header'); -%>
  <div class="box" id="heading">


    <h1>Today is <%= dayWeek %></h1>
  </div>
  <div class="box">

    <%for (x = 0; x < newItem.length; x++){
    %>

    <div class="item">
      <input type="checkbox">
      <p> <%= newItem[x] %> </p>
    </div><%
      }%>

    <form class="item" action="/" method="post">
      <input type="text" name="task" value="" placeholder="New item" autocomplete="off">
      <button type="submit" name="button" value= <%=list%> >+</button>

    </form>
  </div>
<%- include('footer'); -%>
